* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #888;
  font-size: 1.4rem;
  position: relative;
  overflow-x: hidden;
  background-color: #f7f7f7;
}

main {
  display: grid;
  grid-template-columns: 66rem;
  row-gap: 2.4rem;
  margin-left: 1.6rem;
  /* justify-items: center; */
}

.container {
  margin: 0 auto 0 auto;
  max-width: 105rem;
}

.arrow {
  color: #fff;
  opacity: 0.8;
  font-size: 3rem;
  top: 50%;
  border-radius: 50%;
  z-index: 999;
  position: absolute;
}

.arrow:hover {
  cursor: pointer;
}

.hidden.arrow {
  display: none;
}

.left-arrow {
  left: 2%;
}

.right-arrow {
  right: 2%;
}
