.stories-container {
  max-width: 61.4rem;
  height: 11.9rem;
  border: 1px solid #ddd;
  margin-top: 9.2rem;
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.story {
  height: 8.4rem;
  width: 6.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
}

.username {
  color: #000;
  font-size: 1.2rem;
}

.stories-container .story img {
  height: 6.4rem;
  width: 6.4rem;
  border-radius: 50%;
}
